###############################################################################
# Communication Controller related Constraints
###############################################################################

#
# ICS Clock Synthesizer 2 constraints
#
NET "ics_clk" TNM_NET = "ics_clk";
TIMESPEC "TS_ics_clk" = PERIOD "ics_clk"  30.83 ns HIGH 50 %;

NET "ics_clk"           LOC = "L19"; ##33 MHz clock for ICS interface
NET "mgt_clksel"        LOC = "H15";
NET "pload"             LOC = "AM33";
NET "strobe"            LOC = "AL34";
NET "sdata"             LOC = "AK32";
NET "sclock"            LOC = "AJ32";

#
# GTP RocketIO constraints
#
NET  "gtp_clk_p"        LOC = "J20";
NET  "gtp_clk_n"        LOC = "J21";
#INST "CC/fofb_cc_top/fofb_cc_clk_if/v5_clk_if.refclk_ibufds" DIFF_TERM = "TRUE";

NET   "gtp_clk_p" PERIOD = 9.41 ns;

NET   "fofb_cc_top_inst/fofb_cc_top/GT_IF/refclkout" TNM_NET = "CC_GTPCLK";
TIMESPEC "TS_CC_GTPCLK" = PERIOD "CC_GTPCLK" 9.41 ns HIGH 50 %;

INST "fofb_cc_top_inst/fofb_cc_top/GT_IF/GTP_INST/gtp_dual_i" LOC=GTP_DUAL_X0Y4;

